<% layout('layouts/boilerplate')%>
<div style="width: 100%;">
<div id="cluster-map" style="width: 100%; height: 500px"></div>
<div class="container-fluid bg-secondary pb-5 pt-5" id="searchbackground">

    <div class="container-fluid text-white">
      <h1>Welcome, be ready to discover your Journey</h1> <hr>
    </div><br>
    <div class="container">
      <form action="/campgrounds/searchCampground" method="POST" class="form-inline d-flex flex-row">
        <input class="form-control mr-sm-2" type="text" id="search" placeholder="Search" name="search">
        <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>

<div class="container"><br>

<% if (campgrounds){%>
    <h1>All Campgrounds</h1><hr>
<% for (let campground of campgrounds){%>
    <% url3=`/goToProfile/${campground.id}`; %>
                <% if(currentUser && campground.id.toString() === currentUser._id.toString()){%>
                    <% url3=`/prof`; %>
                    <%}%>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            <%if(campground.images.length) {%>
            <img class="img-fluid" alt="" src="<%=campground.images[0].url%>">
            <% }else {%>
            <img class="img-fluid" alt=""
                src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png">
            <% } %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %> </h5>
                <small class="text-muted">Submitted by <a href=<%=url3 %> style="text-decoration:none; color:grey"><%= campground.author%></a></small>
                <p class="card-text"><%= campground.description %></p>
                <p class="card-text">
                    <small class="text-muted"><%= campground.location%></small>
                </p>
                <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View <%=campground.title%></a>
            </div>
        </div>
    </div>
</div>
<% }%>
<% }else{%>
    <div class="container"><h1>No results found.</h1><hr></div>
<% }%>
</div>
</div>
<script>
    const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
    const items = { features: <%- JSON.stringify(campgrounds) %>}
</script>

<script src="/javascripts/clusterMap.js"></script>