<% layout('layouts/boilerplate')%>
<div style="width: 100%;">
<div id="cluster-map" style="width: 100%; height: 500px"></div>
<div class="container-fluid bg-secondary pb-5 pt-5" id="searchbackground">

    <div class="container-fluid text-white">
      <h1>Welcome, be ready to discover your Journey</h1> <hr>
    </div><br>
    <div class="container">
      <form action="/products/searchProduct" method="POST" class="form-inline d-flex flex-row">
        <input class="form-control mr-sm-2" type="text" id="search" placeholder="Search" name="search">
        <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>

<div class="container"><br>

<% if (products){%>
    <h1>All Products</h1><hr>
<% for (let product of products){%>
    <% url3=`/goToProfile/${product.id}`; %>
    <% if(currentUser && product.id.toString() === currentUser._id.toString()){%>
        <% url3=`/prof`; %>
        <%}%>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            <%if(product.images.length) {%>
            <img class="img-fluid" alt="" src="<%=product.images[0].url%>">
            <% }else {%>
            <img class="img-fluid" alt=""
                src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png">
            <% } %>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%= product.title %> </h5>
                <h5 class="text-muted">Submitted by <a href=<%=url3 %> style="text-decoration:none; color:grey"><%= product.author%></a></h5>
                <p class="card-text"><%= product.description %></p>
                <p class="card-text">
                    <small class="text-muted"><%= product.location%></small>
                </p>
                <a class="btn btn-primary" href="/products/<%=product._id%>">View <%=product.title%></a>
            </div>
        </div>
    </div>
</div>
<% }%>
<% }else{%>
    <div class="container"><h1>No results found.</h1><hr></div>
<% }%>
</div>
</div>
<script>
    const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
    const items = { features: <%- JSON.stringify(products) %>}
</script>

<script src="/javascripts/clusterMap.js"></script>